In [1]:
# Pandas

'''
Pandas - Data Analysis Tool
    - Simple to use
    - Integrated with many other data science & ML Python tools
    - Helps get raw data ready for ML
'''

'\nPandas - Data Analysis Tool\n    - Simple to use\n    - Integrated with many other data science & ML Python tools\n    - Helps get raw data ready for ML\n'

In [4]:
import pandas as pd

# 2 main data types
# 1. Series - 1-Dimensional
series = pd.Series(['BMW', 'Toyota', 'Honda']) 
colours = pd.Series(['Red', 'Blue', 'White'])

# 2. DataFrame - 2-Dimensional (Rows and Columns)
car_data = pd.DataFrame({'Car make': series, 'Colour': colours})

  Car make Colour
0      BMW    Red
1   Toyota   Blue
2    Honda  White

In [ ]:
# Import Data